@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

header {
    padding-inline: 20px !important;
    border-bottom: 1px solid gray;
}

.filter-darkbrown {
    height: 100vh;
    width: cover;
    background-color: rgba(77, 49, 13, 0.555);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register-page {
    font-family: Inter, sans-serif;
    height: 100vh;
    background-image: url(../img/background-register.jpg);
    background-size: cover;
    background-position-y: center;
}

.register-container {
    display: flex;
    height: 600px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 248, 238);
    border-radius: 20px;
    padding: 50px 40px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

/* Intro Image */
.hero-image {
    position: relative;
    background: url("../img/pizza-hero.jpg") center;
    background-size: cover;
    height: 500px;
    overflow: hidden;
}

.hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: min-content;
}

.input-group {
    font-size: 1rem;
    position: relative;
    --primary: rgb(77, 49, 13);
    margin-bottom: 10px;
}

.input-group:first-child {
    margin-top: 20px;
}

.input {
    height: 20px !important;
    all: unset;
    color: rgb(77, 49, 13);
    padding: 0.8rem 1rem;
    border: 1px solid #9e9e9e;
    border-radius: 10px !important;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 20px;
    min-width: 300px;
}

.label {
    position: absolute;
    top: 0.8rem;
    left: 1rem;
    color: #d4d4d4;
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
    border: 1px solid var(--primary);
}

.input:is(:focus, :valid, :invalid)~label {
    transform: translateY(-110%) scale(0.7);
    background-color: rgb(255, 248, 238);
    padding-inline: 0.3rem;
    color: var(--primary);
}

.btn-login {
    background-color: rgb(77, 49, 13);
    color: rgb(255, 248, 238);
    transition: all 0.5s ease;
}

.btn-login:hover {
    background-color: rgb(194, 159, 114);
}

.invalid-feedback {
    margin-top: -10px;
    margin-bottom: 10px;
}

.hero-container h1 {
    margin: 0;
    font-size: 70px;
}

.hero-container h1 span {
    border: 6px solid white;
    border-radius: 15px;
    padding: 6px 14px;
    display: inline-block;
}

.description {
    margin: 20px;
    display: block;
    font-size: 26px;
}

/* Button for Intro Image */
.hero-container button {
    appearance: none;
    background-color: rgb(77, 49, 13);
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.hero-container button:disabled {
    pointer-events: none;
}

.hero-container button:hover {
    color: #fff;
    background-color: rgb(48, 33, 14);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.hero-container button:active {
    box-shadow: none;
    transform: translateY(0);
}

