@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    font-family: 'Exo 2', sans-serif !important;  
    margin-top: -16px;
    padding: 0px;
}
header {
    padding-inline: 20px !important;
    border-bottom: 1px solid gray;
}

/* Hero Image */
.hero-image {
    position: sticky;
    top: 0;
    background: url("../img/pizza-hero.jpg") center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 700px;
    overflow: hidden;
}

.hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.hero-container h1 {
    margin: 0;
    font-size: 70px;
}

.hero-container h1 span {
    border: 6px solid white;
    border-radius: 15px;
    padding: 6px 14px;
    display: inline-block;
}

.description {
    margin: 20px;
    display: block;
    font-size: 26px;
}

/* Default Button */
button {
    appearance: none;
    background-color: rgb(77, 49, 13);
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

button:disabled {
    pointer-events: none;
}

button:hover {
    color: #fff;
    background-color: rgb(48, 33, 14);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}

/* Intro */

.intro-container {
    background-color: #e7e7e7;
    display: flex;
    justify-content: space-between;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 2.5em;
    align-items: center;
    gap: 50px;
    width: 100%;
}

@media screen and (max-width: 1020px) {
    .intro-container {
        width: 100%;
        flex-direction: column;
    }
}

.intro-container img {
    border-radius: 0%;
    height: 450px;
    width: 600px;
    border: 4px solid rgb(77, 49, 13);
    object-fit: cover;
}

.intro-text-container {
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.intro-text-container h1 {
    color: RGB(248, 88, 11);
}

.intro-text-container h2 {
    text-align: left;
}

.intro-text-container ul {
    margin-left: -2.5em !important;
}

.intro-text-container li {
    background: rgb(77, 49, 13);
    padding: 10px 20px;
    margin-bottom: 10px;
    color: #ffffff;
    border-radius: 10px 5px;
    list-style: none;
    max-width: none;
}

.intro-button {
    max-width: fit-content;
}